.App {
  font-family: sans-serif;
  text-align: center;
  background-color: pink;
  border-radius: 1rem;
}

input {
  padding: 1rem;
  width: 80%;
  background-color: antiquewhite;
}

span {
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
}

#footer {
  margin-top: 3rem;
  padding: 1rem;
}
